.container
        .row
          .rooster-message.col-md-12
            img(src="http://manhattanpres.com/wp-content/uploads/2013/09/ManhattanRooster-OrangeNavy.png")
            h1 Church of the Rooster-God
        .row
          .rooster-message.col-md-12
            block login