head
    title #{title}
    meta(name="Rooster God" content="For the proper and dutiful praise of His beak")
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')


    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    // my imports
    link(rel='stylesheet', href='../stylesheets/style.css')