nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
   .navbar-header
     button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar
     -if(user)
      a.navbar-brand(href='/profile') #{user.username}
     -else  
      a.navbar-brand(href='/') Rooster God
   .navbar-collapse.collapse.brand
     ul.nav.navbar-nav
       li
         a(href='/') Home
       li
         a(href='/convert') Convert
       li
         a(href='/login') Login
       li
         a(href='/prayerwall') Prayer Wall
       