include mixins/body-mixins

extend layout


block hero
  include includes/login


block content
  -if(user)
   h2 Hello #{user.username}
   p 
    include greetings.txt
  -else
   h2 Greetings Early Riser!
  p
    include texts/body.txt



block sidebar
  h3 His Apostles
  each rooster in roosters
    li(class="sidebar list-group-item")= rooster.username


