include mixins/body-mixins

extend layout

block header
  include includes/header

block login
  a(href="/convert").contact-btn.btn.btn-default 
    |  Convert
  a(href="/login").contact-btn.btn.btn-default 
    |  Prasie his wattle
  p
    | His followers now number #{count}

block content
  -if(user)
   h2 Hello #{user.username}
   p 
    include greetings.txt
  -else
   h2 Greetings Early Riser!
  p
    include body.txt



