include mixins/body-mixins

extend layout


block mail-phone
  a(href="tel:781-781-8050").contact-btn.btn.btn-default 
    span.glyphicon.glyphicon-phone
    |  781.775.8050
  a(href="mailto:ian@iancullinane.com").contact-btn.btn.btn-default 
    span.glyphicon.glyphicon-envelope
    |  ian@iancullinane.com


block content
  p
    include body.txt


//block contact
//  .row
//    h2.col-md-12
//      | Call today for a free estimate 
//      span#number 781.775.8050

//block references
//  h2.references
//    | References
//  blockquote
//    p
//      | Kelly and the gang do a really super job team!
//  blockquote
//    p
//      | Additional generic quote from somebody


//block bullets
//  +bullet ("Residential")
//    p One time or regular cleaning, competitive pricing and excellent service
//    ul
//      li Homes
//      li Garage cleanup
//      li One Time & Regular Cleaning
//  +bullet ("Commercial")
//    p Professional service for commercial facilities.
//    ul
//      li Janitorial services
//      li One time cleanup
//      li Commerical
//      li Retail
//      li Industrial
//  +bullet ("Construction") 
//    p Clean up for projects underway or wrapping up. 
//    ul
//      li Pre or post cleanup
//      li Debris removal
//      li In progress cleanup
//      li One time or scheduled clean up
