include mixins



doctype
html
  head
    title #{title} - Costa Cleaning | Boston
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')


    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    +nav("Costa's Cleaning", "dropdown_menu")
      +nav_item( "/") Home
      +nav_item( "/about" ) About
      +nav_item( "/" ) Contact
      +nav_item_dropdown( "#" )( label="Dropdown")
        +nav_item( "#" ) Action
        +nav_item( "#" ) Another action
        +nav_item( "#" ) Something else here
        +nav_divider
        +nav_header Nav header
        +nav_item( "#" ) Separated link
        +nav_item( "#" ) One more separated link
    header
      h1 Hello
      h2 We're Kelly & Cynthia
      .container
        //+choice('Residential')
        //+choice('Commercial')
    .container
      .jumbotron
        h1 We clean your house or whatever
    .container
      input#search(type="search", placeholder="Search Craig's Jobs")
      h2#results
      button.btn-group
        button.btn.btn-default left
        button.btn.btn-default middle
        button.btn.btn-default right
      .row
        .main-content.col-md-8
          block content
        .sidebar.col-md-4
          block sidebar
    footer
      p Running on node with Express, Jade and Stylus

    script(src='js/scripts.js')


  