include mixins



doctype
html
  head
    title #{title} - Costa Cleaning | Boston
    meta(name="Costa's Cleaning" content="Residential and Commericial cleaner servincing the Boston Metro Area")
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')


    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    //+nav("Costa's Cleaning", "dropdown_menu")
    //  +nav_item( "/") Home
    //  +nav_item( "/about" ) About
    //  +nav_item( "/" ) Contact
    //  +nav_item_dropdown( "#" )( label="Dropdown")
    //    +nav_item( "#" ) Action
    //    +nav_item( "#" ) Another action
    //    +nav_item( "#" ) Something else here
    //    +nav_divider
    //    +nav_header Nav header
    //    +nav_item( "#" ) Separated link
    //    +nav_item( "#" ) One more separated link
    header
      .container
        .row
          .message.col-md-7.col-md-offset-2
            h1 Costa's Cleaning
            h2 Residential & Commercial Cleaning
        .row
          .message.col-md-7.col-md-offset-2
            block mail-phone
      .container
        //+choice('Residential')
        //+choice('Commercial')
    //.container
      .jumbotron
        h1 We clean your house or whatever
    .container
      .row
        block bullets

    .container
      .row
        .contact.col-md-12
          block contact
      .row
        .main-content.col-md-12
          block content

      //.row
      //  .references.col-md-12
      //    block references
      //.sidebar.col-md-4
      //  block sidebar
    footer
      .container
        .row
          address
            strong
              | Costa's Cleaning
            br
            a(class="contact-bottom" href="kc@costascleaning.com") 
              | cleaningwithcosta@gmail.com
            br
            p 
              | copyright Costa's Cleaning Services 2015
 

    script(src='js/scripts.js')


  