include mixins



doctype
html
  include includes/meta

  body
    
    include includes/navbar

    header
      block hero
    body
      block content
    
    include includes/footer

    script(src='js/scripts.js')


  