include mixins



doctype
html
  head
    title #{title} - Music
    meta(name="Sweet Basil Music")
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
    

    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    
    script(src="/bower_components/jquery/dist/jquery.min.js")
    //script(src="/bower_components/masonry/dist/masonry.pkgd.js")


    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    .container-fluid
      .row
        .col-sm-12
          block title
            
      .row
        .col-sm-8
          block content
        .col-sm-4
          block side
      script(src='js/scripts.js')
  footer
    .container
      .row
        .col-sm-12
          p copyright Ian Cullinane 2015









