include mixins



doctype
html
  include includes/meta

  body
    
    include includes/navbar

    header
      .container.hero
        .row.rooster-hero
          .header-content.col-md-12
            block hero
    .container
      .row
        .main-content.col-md-8
          block content

        .sidebar.col-md-4
          block sidebar
    
    include includes/footer

    script(src='js/scripts.js')


  