include mixins



doctype
html
  head
    title #{title} - Music
    meta(name="Costa's Cleaning" content="Residential and Commericial cleaner servincing the Boston Metro Area")
    
    link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')


    // js imports
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    link(rel='stylesheet', href='stylesheets/style.css')

  body

    -if(user)
      h1
        | #{user.id}
    -else
      h1
        | No user

    div
      block content

