doctype
html
  head
    title #{title} - Costa Cleaning | Boston
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
  body
    header
      h1 Costa's Cleaning
    .container
      .jumbotron
        h1 Hello!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus