include mixins



doctype
html
  include includes/meta.jade

  body

    include includes/navbar.jade

    header
      .container
        .row
          .rooster-message.col-md-12
            //img(src="http://manhattanpres.com/wp-content/uploads/2013/09/ManhattanRooster-OrangeNavy.png")
            h1 Church of the Rooster-God
        .row
          .rooster-message.col-md-12
            block login
    .container
      .row
        .main-content.col-md-10.col-md-offset-1
          block content

    //.sidebar.col-md-4
    //  block sidebar
    
    include includes/footer.jade

    script(src='js/scripts.js')


  