include mixins



doctype
html
  head
    title #{title} - Music
    meta(name="Sweet Basil Music")
    
    //- Bower packages
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    //script(src="/bower_components/jquery-ui/jquery-ui.min.js")

    //script(src="/bower_components/masonry/dist/masonry.pkgd.js")

    //script(src='https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js')
  
    //- Custom styles
    link(rel='stylesheet', href='stylesheets/style.css')

  body
    .container-fluid
      .row
        .col-xs-12
          block title
            
      .row
        .col-xs-8
          block content
        .col-xs-4
          block side

      //- Scripts that can wait
      script(src='js/scripts.js')
      script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")
    
  footer
    .container
      .row
        .col-xs-12
          p copyright Ian Cullinane 2015









