include mixins/body-mixins

extend layout

block content
	form(class='form-horizontal', action='/login', method='POST')
		.form-group
			label.col-sm-2.control-label(for="emailInput") email
			.col-sm-10
				input(type="email" class="form-control" id="emailInput" placeholder="Email")
			label.col-sm-2.control-label(for="passwordInput") password
			.col-sm-10
				input(type="pw" class="form-control" id="pwInput" placeholder="Password")

		.form-group
			button.col-sm-offset-2(type="submit" class="btn btn-default") Convert