extend layout
block content
  h1 Welcome #{user.username}
  h2 #{user.level}
  -if(user.level == 'Apostle')
    p
        include texts/apostle.txt
  p Welcome to the church of his wingliness, The Great Rooster. 

  

