include mixins/body-mixins

extend layout


block mail-phone
  a(href="#").contact-btn.btn.btn-default 
    |  Convert
  a(href="#").contact-btn.btn.btn-default 
    |  Prasie his wattle

block content
  p
    | Users page


