
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand')
@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic')

@font-face {
    font-family: 'archive-tilt'; /*a name to be used later*/
    src: url('../fonts/archive-tilt.otf'); /*URL to font*/
}

@import 'nib'
//@import 'mixins/strap'
//@import 'bootstrap'



quicksand = 'Quicksand'
open-sans = 'Open Sans'
lato = 'Lato'
archive = 'archive-tilt'

small = 'screen and (max-width: 420px)'
medium = 'screen and (min-width: 420px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4998F2
background-color = #faf9f0

color1 = #1184B2; //rgba(234, 242, 227, 100)
color2 = #4ACBFF; //rgba(97, 232, 225, 100)
color3 = #31C3FF; //rgba(242, 87, 87, 100)
color4 = #B25F00; //rgba(242, 232, 99, 100)
color5 = #FF9E31; //rgba(242, 205, 96, 100)

ul, ol
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6
  margin 0
  font-familiy open-sans

body, html 
  margin 0
  height 100%
  background-color color3
  background-image url('../images/bg.png')
  

.title
  color color5
  font-size 8em
  font-family archive-tilt

.info
  h1
    font-family open-sans
    
  h3
    font-family open-sans

.side
  color white

  
.track-list
  padding none
  margin none

.box
  background-color white
  //float left
  margin 5px
  margin-bottom 15px
  width 100%
  height 100px
  padding 5px

.track
  @extend .box
  color black
  text-shadow 0 1px 2px rgba(black,.15)
  list-style-type none
  
  
  img
    float left
    height 100%
    margin-right 10px



.now-playing
  @extend .track
  height 300px
  
  



