@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic");
@font-face {
  font-family: 'archive-tilt'; /*a name to be used later*/
  src: url("../fonts/archive-tilt.otf"); /*URL to font*/
}
/*
 * Store the main color and
 * background color as variables
 */
body,
html {
  margin: 0;
  height: 100%;
  background-color: #31c3ff;
}
body h1,
html h1 {
  font-size: 8em;
  font-family: archive-tilt;
  text-shadow: 5px 5px 5px #888;
}
.track {
  background-color: #ff9e31;
  float: left;
  margin: 5px;
  width: 23%;
  padding: 5px;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: bold;
  color: colo1;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  list-style-type: none;
  -webkit-box-shadow: 5px 5px 5px #888;
  box-shadow: 5px 5px 5px #888;
}
