@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic");
@font-face {
  font-family: 'archive-tilt'; /*a name to be used later*/
  src: url("../fonts/archive-tilt.otf"); /*URL to font*/
}
/*
 * Store the main color and
 * background color as variables
 */
ul,
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-familiy: 'Open Sans';
}
body,
html {
  margin: 0;
  height: 100%;
  background-color: #31c3ff;
  background-image: url("../images/bg.png");
}
.title {
  color: #ff9e31;
  font-size: 8em;
  font-family: archive-tilt;
}
.info h1 {
  font-family: 'Open Sans';
}
.info h3 {
  font-family: 'Open Sans';
}
.side {
  color: #fff;
}
.track-list {
  padding: none;
  margin: none;
}
.box,
.track,
.now-playing {
  background-color: #fff;
  margin: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 100px;
  padding: 5px;
}
.track,
.now-playing {
  color: #000;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  list-style-type: none;
}
.track img,
.now-playing img {
  float: left;
  height: 100%;
  margin-right: 10px;
}
.now-playing {
  height: 300px;
}
