@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:700,300|Work+Sans:400,200");
@font-face {
  font-family: 'archive-tilt'; /*a name to be used later*/
  src: url("../fonts/archive-tilt.otf"); /*URL to font*/
}
/*
 * Store the main color and
 * background color as variables
 */
ul,
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-familiy: open-sans;
}
body,
html {
  margin: 0;
  height: 100%;
  background-color: #31c3ff;
  background-image: url("../images/bg.png");
  background-attachment: fixed;
}
p {
  font-family: 'Work Sans', sans-serif;
}
li,
ol {
  display: inline;
}
.box,
.side,
.track,
.now-playing {
  background-color: #fff;
  margin: 5px;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px;
  -webkit-box-shadow: 5px 0 5 #444;
  box-shadow: 5px 0 5 #444;
  display: inline-block;
  -webkit-box-shadow: 0 5px 7px #aaa;
  box-shadow: 0 5px 7px #aaa;
}
.title {
  color: #fff;
  font-size: 13vw;
  width: 100%;
  font-family: archive-tilt;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.track-titles h1,
.track h1,
.now-playing h1,
.track-titles h2,
.track h2,
.now-playing h2 {
  font-family: 'Roboto Slab', serif;
}
.track-titles h3,
.track h3,
.now-playing h3,
.track-titles h4,
.track h4,
.now-playing h4 {
  font-family: 'Work Sans', sans-serif;
}
.side {
  color: #000;
  padding: 15px;
}
.side img {
  width: 100%;
}
.side h2 {
  font-family: 'Roboto Slab', serif;
}
.sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
}
.art p {
  font-size: 1em;
}
.art img {
  margin-right: 3px;
  float: left;
  width: 40%;
}
.track-list {
  padding: none;
  margin: none;
}
.track,
.now-playing {
  color: #000;
  text-shadow: 0 1px 2px rgba(0,0,0,0.15);
  list-style-type: none;
}
@media (min-width: 767px) {
  .track,
  .now-playing {
    height: 150px;
  }
}
.track img,
.now-playing img {
  float: left;
  height: 100%;
  margin-right: 15px;
}
@media (max-width: 767px) {
  .track img,
  .now-playing img {
    width: 100%;
  }
}
.art-title {
  margin-bottom: 15px;
}
@media (min-width: 767px) {
  .now-playing {
    height: 300px;
  }
}
.recent {
  font-family: 'Roboto Slab', serif;
}
.time {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: light;
}
