
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Quicksand')
@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,300,300italic')

@import 'nib'
//@import 'mixins/strap'
//@import 'bootstrap'



$quicksand = 'Quicksand'
open-sans = 'Open Sans'
lato = 'Lato'

small = 'screen and (max-width: 420px)'
medium = 'screen and (min-width: 420px)'
large = 'screen and (min-width: 992px)'
xlarge = 'screen and (min-width: 1200px)'

/*
 * Store the main color and
 * background color as variables
 */
main-color = #4998F2
background-color = #faf9f0

color1 = #eaf2e3; //rgba(234, 242, 227, 100)
color2 = #61e8e1; //rgba(97, 232, 225, 100)
color3 = #f25757; //rgba(242, 87, 87, 100)
color4 = #f2e863; //rgba(242, 232, 99, 100)
color5 = #f2cd60; //rgba(242, 205, 96, 100)



body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
  background-color: color4;
}



//----------------------------------
//    BOOTSTRAP OVERWRITES          |
//----------------------------------



.navbar
  font-family 'Quicksand'
  margin-bottom 0
  border-radius 0
  border none
  
  .navbar-nav
    a
      &:link
      &:visited
      &:active
        color white

  a
    &:link
    &:visited
    &:active
      color white

.navbar-default
  color background-color
  background-color main-color
  
.btn-group
  .btn-default
    border none
    
.estimate-btn
  position: relative
  background-color main-color
  color white
  font-size 20px
  text-align left
  border none
  

.contact-btn
  @extend .estimate-btn
  left -13px

  
  .glyphicon
    top 3px

//----------------------------------
//    PROJECT CSS                  |
//----------------------------------



@media (min-width 768px){
  #left {
    color color2
    position absolute
    top 0px
    bottom 0
    left 0
    width 25%
    overflow-y scroll 
    height 100vh
    margin 0
    border-bottom 1px solid darken(main-color, 30%)
    text-shadow 0px -1px 0px darken(main-color, 30%)
  }
  
  #right {
    position absolute
    top 0
    bottom 0
    right 0
    overflow-y scroll
    width 75%
    margin 0
  }
}

#left 
  background-color color4
  height 100%


#right 
  height 100%
  background-color color3


.left-menu
  width 100%
  top 10%
  text-align right
  font-family lato
  padding 10px
  
  @media medium
    h1
      font-family lato
      font-size 4vw        
    h2
      font-size 2vw
      font-family open-sans
      font-weight 300
  @media small
    h1
      font-family lato
      font-size 14vw 
    h2
      font-size 10vw
      font-family open-sans
      font-weight 300
  
.main-content
  font-family lato
  top 25%
  padding 0 15px 10px 15px
  




.contact
  font-family 'Quicksand'
  font-size 3vw
  background-color main-color
  color background-color
  border-radius 5px
  padding 8px
  text-align center
  margin-bottom 20px
  text-shadow 0px -1px 0px darken(main-color, 30%)
  
  h2
    margin 10px
    line-height 150%

.number
  font-family 'Quicksand'
  background-color background-color
  main-color main-color
  color main-color
  padding 5px
  border-radius 3px
  //text-shadow 0px -1px 0px darken(background-color, 30%)
  
//----------------------------------
//    PRESET CSS                   |
//----------------------------------


//TODO change back vh

.container
  width 100%
  height 100%
  margin 0
  padding 0
  overflow hidden



p
  line-height 1.8

footer
  background-color #424242
  color background-color
  height 200px
  padding-top 20px
  margin-top 50px
  border-top 1px dotted #ccc
  font-size 13px
  
  .contact-bottom
    &:link
    &:visited
    &:active
      color white
