

//- content mixins
mixin bullet(header)
    .bullet.col-md-4
        h1= header
        //block


mixin button-bar()
    .buttons
        button.btn-group
          button.btn.btn-default left
          button.btn.btn-default middle
          button.btn.btn-default right